@import "tailwindcss";

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
  a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  }
}

g.node.highlight {
  opacity: 1;
}

g.node.dimmed {
  opacity: 0.2;
}

/* Highlighted edge */
g.edge.highlight path,
g.edge.highlight polygon,
g.edge.highlight text {
  opacity: 1;
}

/* Dimmed edge */
g.edge.dimmed path,
g.edge.dimmed polygon,
g.edge.dimmed text {
  opacity: 0;
}

g.node.pinned polygon {
  stroke: #4f46e5; /* Indigo */
  stroke-width: 3px;
  filter: drop-shadow(0 0 2px rgba(79, 70, 229, 0.5));
}

g.node {
  cursor: pointer;
}
